@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Space+Grotesk:wght@400;500;700&display=swap');

:root {
    --color01: #FAFAFA;
    --color02: #1B2D4F;
    --color03: #D3D3D3;
    --color04: #000000;
    --color05: #97a4b6;

    --font:  'Poppins', sans-serif;
}

body {
    font-family: var(--font);
    background: var(--color05);
}

header {
    height: 10vh;
    background: var(--color02);
    color: var(--color01);
}

h1 {
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
}

main {
    min-height: 80vh;
    background: var(--color05);
}

.login {
    background: var(--color02);
    color: var(--color01);
    
}

.container {
    background: var(--color05);
}

.login-container {
    max-width: 400px;
    display: block;
    margin: 0 auto;
}

.login-container img {
    display: block;
    margin: 0 auto;
    padding: 2rem 0;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.form-label {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

.form-input {
    font-family: var(--font);
    color: var(--color04);
    margin-bottom: 1rem;
    padding: 0.4rem 0.8rem;
    font-size: 0.9rem;
    border: none;
    border-radius: 5px;
}

.form-input:focus {
    outline: none;
}

.login-submit {
    font-family: var(--font);
    color: var(--color02);
    background: var(--color03);
    font-weight: bold;
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}

footer {
    height: 10vh;
    background: var(--color02);
    color: var(--color01);
    text-align: center;
}

footer > p {
    padding: 1.5rem;
}


/*cards menu*/

.card {
    width: 300px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding: 20px;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

.card-text {
    color: #666;
    margin-bottom: 20px;
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-secondary {
    background-color: #6c757d;
    color: #fff;
}

.btn-secondary:hover {
    background-color: #545b62;
}

#cadastro-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
    padding: clamp(1rem, 2vw, 2rem);
}

/*pag cadastro*/

.area_cadastro {
    width: 25%;
    margin: 20px;
    padding: 20px;
    background-color: var(--color05);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  
  .form-input-textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  .btn-voltar {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
    background-color: #6c757d;
    color: #fff;
  }
  
  .btn-voltar:hover {
    background-color: #545b62;
  }
  
  .btn-cadastro{
    outline: none;
    border: none;
    background-color: #007bff;
    color: #fff;
  }

  .btn-cadastro:hover{
    background-color: #0056b3;
  }

  /*seleção de categorias*/

  #categoria{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 5px 10px;
  }