{% extends 'base.html' %}
    
{% block main %}

<main class="container">
    <section class="subcontainer">
        <h2>Horários das disciplinas</h2>
      
        <form action="/horarios-disciplinas" enctype="multipart/form-data" method="POST" class="cadastro-form">
            <label class="form-label form-item" for="nome-horario">Selecione o nome para identificar o horário</label>
            <input class="form-input input-border" type="text" name="nome-horario" id="nome-horario" required/>

            <label class="form-label form-item" for="upload">Selecione o arquivo do horário em pdf</label>
            <input class="btn form-input" type="file" name="upload" accept="application/pdf" id="upload" required/>

            <input class="btn btn-primary" id="salvar" type="submit" value="Salvar">
        </form>

        <p>Ainda não há nenhum horário salvo</p>

        <a href="/menu" class="btn btn-secondary back-menu-button">Voltar ao Menu </a>
    </section>
</main>

{% endblock %}