{% extends 'base.html' %}
    
{% block main %}

<main class="container">
    <section class="subcontainer">
        <form action="/" method="POST" class="cadastro-form">
            <label class="form-label form-item" for="categoria">Selecione uma categoria</label>
            <select class="form-select form-item" name="Categorias" id="categoria">
                <option value="1">Categoria 1</option>
                <option value="2">Categoria 2</option>
                <option value="3">Categoria 3</option>
            </select>
            <button class="btn btn-primary" id="Visualizar" type="submit">Visualizar</button>
        </form>
        <ul class="lista-perguntas" id="lista-perguntas">

        </ul>
    </section>
</main>

{% endblock %}